 #h1yi {
     font-family: 'hanamin', cursive;
     font-weight: bold;
     color: #F08080;
 }
 
 #h3mail {
     font-family: ' hanamin', cursive;
     font-weight: normal;
     color: #F08080;
 }
 
 #h4address {
     font-family: ' hanamin', cursive;
     font-weight: normal;
     color: #F08080;
 }
 
 #h2edu {
     font-family: ' hanamin', cursive;
     font-weight: normal;
     color: #D87093;
 }
 
 #divedu {
     font-family: ' hanamin';
     font-weight: normal;
     color: #888888
 }
 
 #h2award {
     font-family: ' hanamin', cursive;
     font-weight: normal;
     color: #D87093;
 }
 
 #divaward {
     font-family: ' hanamin';
     font-weight: normal;
     color: #888888
 }
 
 #h2skill {
     font-family: ' hanamin', cursive;
     font-weight: normal;
     color: #D87093;
 }
 
 #divskill {
     font-family: 'hanamin';
     font-weight: normal;
     color: #888888
 }
 
 #h2workex {
     font-family: ' hanamin', cursive;
     font-weight: normal;
     color: #D87093;
 }
 
 #divworkex {
     font-family: 'hanamin';
     font-weight: normal;
     color: #888888
 }
 
 #h2act {
     font-family: ' hanamin', cursive;
     font-weight: normal;
     color: #D87093;
 }
 
 #divact {
     font-family: 'hanamin';
     font-weight: normal;
     color: #888888
 }
